<section style="color: #000; background-color: #f3f2f2;">
    <div *ngIf="reviews.length!=0" class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
          <h3 class="fw-bold mb-4">Reviews</h3>
        </div>
      </div>

          <div class="row text-center" >
      
            <div class="col-md-4 mb-0 mt-2" *ngFor="let review of reviews">
              <div class="card" style="height:350px;">
                <div class="card-body py-4 mt-2">
                  <h5 class="font-weight-bold">{{review.code}}</h5>
                  
                  <div class="d-flex justify-content-center mb-4">
                    <img src="https://freesvg.org/img/abstract-user-flat-4.png"
                      class="rounded-circle shadow-1-strong" width="30" height="30" />
                      <h5 class="font-weight-bold mx-2">{{review.userName}}</h5>
                  </div>
                  <h5 class="font-weight-bold">{{review.heading}}</h5>
                  
                  <h6 class="font-weight-bold my-3">Rating {{review.rating}} /<small>5</small><img height="30px" width="30px" src="https://static.vecteezy.com/system/resources/previews/004/477/526/original/star-yellow-color-isolated-icon-free-vector.jpg"></h6>
                  
                 
                 
                  <p class="mb-2">
                    <i class="fas fa-quote-left pe-2"></i>{{review.comment}}
                  </p>
                  
                </div>
                <div style="padding-bottom: 10px;">
                  <button type="button" class="btn btn-success mx-3" (click)="approveReview(review.id)" >Approve</button>
                  <button type="button" class="btn btn-danger mx-3" (click)="rejectReview(review.id)">Reject</button>
                </div>
                
              </div>
            </div>
            
          </div>

        
      </div>   

  </section>

  <div *ngIf="reviews.length==0" class="d-flex justify-content-between" >
    <div></div>
    <div>
      <img  height="500px" width="650px" src="https://cdn.dribbble.com/users/453325/screenshots/5573953/empty_state.png">
    </div>
    <div></div>
</div>

